.NavBar {
    background-color: #082859;
}

.empresa {
    padding-left: 3rem;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
    color:white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0;
    padding: 0;
}

.navbar-text, .navbar-text a, .navbar-text a:hover, .navbar-text a:focus {
    color:white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
}

.text, .text:hover, text:focus{
    color:white;
    padding-left: 1rem;
}


